{% load i18n %}
{% load static %}

<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>{% trans "Резюме" %}</h2>
            <p>{% trans "Ознайомтесь з резюме" %}</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">{% trans "Загальне" %}</h3>
                <div class="resume-item pb-0">
                    <h4>{% trans "Олексій Морев" %}</h4>
                    <p><em>{% trans "Митний брокер з великим досвідом роботи в митній системі та зовнішньоекономічній діяльності." %}</em></p>
                    <p>
                        <ul>
                            <li>{% trans "м. Буча, Київська область, Україна" %}</li>
                            <li><a href="tel:+380672700861">+38 (067) 270-08-61</a></li>
                            <li><a href="mailto:office@ombroker.pp.ua">office@ombroker.pp.ua</a></li>
                        </ul>
                    </p>
                </div>

                <h3 class="resume-title">{% trans "Освіта" %}</h3>
                <div class="resume-item">
                    <h4>{% trans "Спеціаліст з програмування на мові Python" %}</h4>
                    <h5>2021 - 2022</h5>
                    <p><em>{% trans "Мічіганський університет, США" %}</em></p>
                    <p>{% trans "Факультет комп'ютерних наук" %}</p>
                </div>
                <div class="resume-item">
                    <h4>{% trans "Ступінь молодшого спеціаліста з програмування" %}</h4>
                    <h5>2020 - 2020</h5>
                    <p><em>{% trans "Main Academy, Україна" %}</em></p>
                    <p>{% trans "Програмування: Python, Django, CSS, HTML, JS" %}</p>
                </div>
                <div class="resume-item">
                    <h4>{% trans "Магістр з міжнародного права" %}</h4>
                    <h5>2005 - 2008</h5>
                    <p><em>{% trans "Український університет фінансів та міжнародної торгівлі, Україна" %}</em></p>
                    <p>{% trans "Факультет міжнародного права" %}</p>
                </div>
                <div class="resume-item">
                    <h4>{% trans "Спеціаліст з економіки підприємств" %}</h4>
                    <h5>1997 - 2002</h5>
                    <p><em>{% trans "Академія митної служби України, Україна" %}</em></p>
                    <p>{% trans "Факультет обліку та аудиту" %}</p>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">{% trans "Професійний досвід" %}</h3>
                <div class="resume-item">
                    <h4>{% trans "Фізична особа-підприємець" %}</h4>
                    <h5>2022 - {% trans "Сьогодні" %}</h5>
                    <p><em>{% trans "м. Буча, Київська область, Україна" %} </em></p>
                    <p>
                        <ul>
                            <li>{% trans "Митне оформлення товарів, логістика, оптимізація податкового навантаження, консультації з питань зовнішньоекономічної діяльності та митної справи" %}</li>
                            <li>{% trans "Розробка програмного забезпечення, веб-розробка, аналітика та робота з великими обсягами даних" %}</li>
                            <li>{% trans "Консультації та супроводження з митних та інших юридичних питань" %}</li>
                            <li>{% trans "Розбудова та організація роботи об'єктів митної інфраструктури" %}</li>
                            <li>{% trans "Аналітика ринків зовнішньоекономічної діяльності" %}</li>
                        </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>{% trans "Заступник директора" %}</h4>
                    <h5>2020 - 2022</h5>
                    <p><em>{% trans "ПТ 'ПЕНТАДА ТРАНС', м. Київ, Україна" %}</em></p>
                    <p>
                        <ul>
                            <li>{% trans "Фінансове гарантування доставки товарів до митниці призначення" %}</li>
                            <li>{% trans "Митне оформлення товарів, логістика, консультування з питань митної справи, нормотворчість" %}</li>
                            <li>{% trans "Розробка програмного забезпечення для роботи з митними органами та клієнтами" %}</li>
                            <li>{% trans "Розбудова та організація роботи об'єктів митної інфраструктури" %}</li>
                        </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>{% trans "Керівник" %}</h4>
                    <h5>2014 - 2020</h5>
                    <p><em>{% trans "Державна митна служба України, м. Київ, Україна" %}</em></p>
                    <p>
                        <ul>
                            <li>{% trans "Внутрішній аудит митної системи (комплаєнс)" %}</li>
                            <li>{% trans "Боротьба з контрабандою та порушеннями митних правил (заступник начальника Черкаської, Одеської та Львівської митниць)" %}</li>
                            <li>{% trans "Організація митного контролю та оформлення товарів (керівник управління доставки вантажів Державної митної служби України)" %}</li>
                        </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>{% trans "Митний брокер" %}</h4>
                    <h5>2013 - 2014</h5>
                    <p><em>{% trans "м. Київ, Україна" %}</em></p>
                    <p>
                        <ul>
                            <li>{% trans "Митне оформлення товарів" %}</li>
                            <li>{% trans "Організація логістики" %}</li>
                        </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>{% trans "Інспектор, керівник" %}</h4>
                    <h5>2002 - 2013</h5>
                    <p><em>{% trans "Державна митна служба України, м. Київ, Україна" %}</em></p>
                    <p>
                        <ul>
                            <li>{% trans "Боротьба з контрабандою та порушеннями митних правил (Державна митна служба України, Східна митниця)" %}</li>
                            <li>{% trans "Митний контроль та оформлення товарів (Вінницька митниця)" %}</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Resume Section -->