{% load static %}
{% load i18n %}

<div class="modal-header">
    <h2 class="portfolio-title">{% trans "Розбудова митної інфраструктури" %}</h2>
    <a href="" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
        </svg>
    </a>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-6">                                      
            <div class="portfolio-details-slider swiper">
                <div class="swiper-wrapper align-items-center">                
                    <div class="swiper-slide">
                        <img src="{% static 'img/services/infrastructure-1.jpg' %}" alt="">
                    </div>
    
                    <div class="swiper-slide">
                        <img src="{% static 'img/services/infrastructure-2.jpg' %}" alt="">
                    </div>
    
                    <div class="swiper-slide">
                        <img src="{% static 'img/services/infrastructure-3.jpg' %}" alt="">
                    </div>               
                </div>
                <div class="swiper-pagination"></div>
            </div>               
        </div>

        <div class="col-lg-6 portfolio-info">
            <h3>{% trans "Перелік" %}</h3>
            <ul>
                <li>{% trans "аналіз наявної технічної документації та план-схеми ділянки, відведеної під будівництво митного комплексу (митного терміналу, митного складу, складу тимчасового зберігання, центральної/регіональної сортувальної станції, тощо)" %};</li>
                <li>{% trans "аналіз та формування пропозицій щодо ефективного та раціонального розміщення на території комплексу необхідних об'єктів митної інфраструктури (зони митного контролю, місця доставки вантажів, митні склади та склади тимчасового зберігання, тощо)" %};</li>
                <li>{% trans "підготовка зведених вимог та документів для реєстрації кожного об'єкта митної інфраструктури (інженерно-технічне забезпечення, системи відеоспостереження)" %};</li>
                <li>{% trans "організація ефективного переміщення і відстою транспортних засобів, їх зважування, навантаження, розвантаження в межах відведеної території" %};</li>
                <li>{% trans "надання кваліфікованих консультацій та контроль під час будівництва та введення в експлуатацію митного комплексу" %};</li>
                <li>{% trans "ефективна взаємодія з митними органами" %};</li>
                <li>{% trans "надання пропозицій та подальший супровід щодо переспективних напрямків розвитку митного комплексу" %}.</li>
            </ul>
            <a href="" class="btn btn-success float-end" title="{% trans "Орієнтовний прайс-лист" %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-receipt-cutoff" viewBox="0 0 16 16">
                    <path d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zM11.5 4a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
                    <path d="M2.354.646a.5.5 0 0 0-.801.13l-.5 1A.5.5 0 0 0 1 2v13H.5a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1H15V2a.5.5 0 0 0-.053-.224l-.5-1a.5.5 0 0 0-.8-.13L13 1.293l-.646-.647a.5.5 0 0 0-.708 0L11 1.293l-.646-.647a.5.5 0 0 0-.708 0L9 1.293 8.354.646a.5.5 0 0 0-.708 0L7 1.293 6.354.646a.5.5 0 0 0-.708 0L5 1.293 4.354.646a.5.5 0 0 0-.708 0L3 1.293 2.354.646zm-.217 1.198.51.51a.5.5 0 0 0 .707 0L4 1.707l.646.647a.5.5 0 0 0 .708 0L6 1.707l.646.647a.5.5 0 0 0 .708 0L8 1.707l.646.647a.5.5 0 0 0 .708 0L10 1.707l.646.647a.5.5 0 0 0 .708 0L12 1.707l.646.647a.5.5 0 0 0 .708 0l.509-.51.137.274V15H2V2.118l.137-.274z"/>
                  </svg>
                {% trans " Прайс" %}
            </a>
        </div>
    </div>
</div>      